apiVersion: v1    
kind: Service     
metadata:
  name: static-site  
  labels:
    app: static-site
    phase: phase1
spec:
  type: NodePort
  selector:
    app: static-site
  ports:
  - name: http          
    protocol: TCP       
    port: 80            
    targetPort: 80      
    nodePort: 30080   

---
# ============================================================================
# Service Usage Notes
# ============================================================================
# To deploy this service:
#   kubectl apply -f service.yaml
#
# To get service details:
#   kubectl get svc static-site
#   kubectl describe svc static-site
#
# To get the NodePort:
#   kubectl get svc static-site -o jsonpath='{.spec.ports[0].nodePort}'
#
# To access the application:
#   http://<any-worker-node-ip>:<nodeport>
#   Example: http://192.168.0.31:30080
#
# To test from within cluster:
#   kubectl run test --rm -it --image=busybox -- wget -O- http://static-site
#
# To delete service:
#   kubectl delete svc static-site
